:root {
    --background: #888888;
    --basic-white: #FFFFFF;
    --basic-red: #FB565A;
    --hover-red: #E74246;
    --active-red: #D7373B;
    --basic-background: #283136;
    --basic-black: #000000;
    --basic-gray: #EEEEEE;
    --hover-gray: #DFDFDF;
    --active-gray: #D5D5D5;
    --basic-yellow: #EFC849;
    --hover-yellow: #EAB534;
    --active-yellow: #E5A722;
    --basic-green: #00CA74;
    --hover-green: #00BC6C;
    --active-green: #00AA62;
    --basic-dark-grey: #A6A6A6;
    --basic-light-grey: #E1E1E1;
    --hover-logo: rgba(0, 0, 0, 1);
    --active-logo: rgba(0, 0, 0, 0.3);
    --basik-radioblack: #4D4D4D;
    --border-input: #D7DCDE;
    --border-input-hover: #B4B9BB;
    --socials-discount-text: #444444;
}


/* Global */

.page-body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 545;
    color: var(--basic-background);
    text-transform: none;
    background-image: url("../img/bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

img {
    max-width: 100%;
    height: auto;
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.main-header-logo {
    width: 160px;
    height: 65px;
    margin-right: 200px;
    margin-top: 49px;
}

.main-header-logo :hover,
.main-header-logo :focus {
    opacity: 0.7;
}

.main-header-logo:active {
    opacity: 0.3;
}

.main-header {
    position: relative;
}

.site-navigation {
    width: 437px;
    height: 30px;
    margin-top: 75px;
    margin-right: 246px;
}

.site-navigation-basket {
    width: 75px;
    height: 30px;
    margin-top: 74px;
    padding-left: 43px;
    position: relative;
}

.site-navigation-basket::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 2px;
    top: 8px;
}

.main-navigation {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 30px;
    color: var(--basic-black);
    background-color: var(--basic-gray);
    text-transform: uppercase;
}

.main-navigation-block {
    display: flex;
}

.slide {
    display: flex;
}

.slides-block-background {
    background-color: var(--basic-gray);
    max-width: 100%;
    height: auto;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.site-navigation-list,
.slides,
.button-slide {
    list-style: none;
}

.slides-block {
    margin-bottom: 80px;
    height: 431px;
}

.slides {
    padding: 0;
    margin: 0;
    width: 1160px;
    height: 431px;
}

.slider-controls {
    display: flex;
    list-style: none;
    width: 88px;
    height: 18px;
    position: absolute;
    top: 430px;
    right: 47%;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.carousel-btn {
    border-radius: 50%;
    border: 1px solid var(--basic-white);
    background-color: var(--basic-white);
    background-position: center;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}

.current {
    background-image: url("../img/icon-ellipse.svg");
}

.slides h1 {
    margin-top: 78px;
}

.slides p {
    margin-top: 25px;
    margin-bottom: 39px;
}


/* User navigation */

.site-navigation-list a,
.basket-link {
    color: var(--basic-black);
    text-decoration: none;
}

.site-navigation-list,
.basket-link {
    display: flex;
    height: 30px;
    text-decoration: none;
}

.site-navigation-list {
    flex-direction: row;
    padding: 0px;
    position: relative;
    margin-top: 0px;
    left: 3px;
}

.site-list-catalog::after {
    content: "";
    position: absolute;
    width: 73px;
    height: 2px;
    background-image: url("../img/layer-73.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 231px;
    bottom: -16px;
}

.site-navigation-list a {
    margin-right: 45px;
}

.site-navigation-list a:hover,
.site-navigation-list a:focus,
.user-navigation-list a:hover,
.user-navigation-list a:focus {
    color: var(--basic-red);
}

.site-navigation-basket a:hover,
.site-navigation-basket a:focus {
    color: var(--basic-red);
}

.site-navigation-list a:active,
.site-navigation-basket:active {
    color: var(--basic-black);
    opacity: 0.3;
}


/* Button */

.button {
    font: inherit;
    text-align: center;
    color: var(--basic-white);
    background-color: var(--basic-red);
    border-radius: 3px;
    align-items: center;
    text-decoration: none;
}

.slide-1 h1 {
    font-size: 55px;
    line-height: 55px;
    align-items: center;
    color: var(--basic-black);
    width: 398px;
}

.slide-2 h1 {
    display: flex;
    font-size: 55px;
    line-height: 55px;
    align-items: center;
    color: var(--basic-black);
    width: 538px;
    position: relative;
    margin-bottom: 49px;
}

.slide-2 p {
    margin-bottom: 27px;
}

.slide-2 img {
    position: absolute;
    right: 182px;
}

.slide-3 h1 {
    font-size: 55px;
    line-height: 55px;
    align-items: center;
    color: var(--basic-black);
    width: 538px;
    position: relative;
    margin-bottom: 49px;
}

.slide-3 img {
    position: absolute;
    right: 182px;
}

.slide-3 p {
    margin-bottom: 27px;
}

.slide-2,
.slide-3 {
    display: none;
}

.slide-2-img {
    display: inline;
}

.slide p {
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: #283136;
    margin-top: -10px;
}

.button-slides {
    width: 240px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
}

.button-slides:active {
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    background-color: var(--active-red);
    color: rgba(255, 255, 255, 0.3);
}

.services-list {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 100px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    list-style: none;
}

.services-list h3 {
    margin-top: 21px;
}

.services-list p {
    text-transform: none;
    margin-top: -7px;
    margin-bottom: 32px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.services-web-sites h3,
.services-applications h3,
.services-presentations h3 {
    color: var(--basic-black);
    font-size: 24px;
    line-height: 30px;
}

.button-services-web-sites,
.button-services-applications,
.button-services-presentations {
    width: 160px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center
}

.button-services-web-sites:hover,
.button-services-web-sites:focus {
    background-color: var(--hover-red);
}

.button-services-web-sites:active {
    background-color: var(--active-red);
    color: rgba(255, 255, 255, 0.3);
}

.button-services-applications {
    background-color: var(--basic-green);
}

.button-services-applications:hover,
.button-services-applications:focus {
    background-color: var(--hover-green);
}

.button-services-applications:active {
    background-color: var(--active-green);
    color: rgba(255, 255, 255, 0.3);
}

.button-services-presentations {
    background-color: var(--basic-yellow);
}

.button-services-presentations:hover,
.button-services-presentations:focus {
    background-color: var(--hover-yellow);
}

.button-services-presentations:active {
    background-color: var(--active-yellow);
    color: rgba(255, 255, 255, 0.3);
}

.description {
    display: grid;
    grid-template-columns: 800px 360px;
    margin-top: 121px;
    position: relative;
}

.description::before {
    width: 1158px;
    height: 2px;
    content: "";
    position: absolute;
    background-image: url("../img/rectangle-16.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: -41px;
}

.description-block table {
    width: 375px;
    margin-left: -3px;
    padding: 1px;
}

.description-block td {
    padding: 0;
    padding-bottom: 7px;
}

.description-block td:nth-child(2) {
    padding: 0;
    padding-bottom: 7px;
    padding-left: 2px;
}

.description h3 {
    font-size: 45px;
    line-height: 45px;
    margin-top: 34px;
    margin-bottom: 30px;
    font-weight: 500;
    letter-spacing: 0.20px;
}

.description p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 33px;
}

.description h4 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 23px;
}

.development-title {
    color: var(--basic-background);
}

.development-list {
    list-style: none;
    width: 399px;
    height: 120px;
    font-size: 16px;
    line-height: 24px;
    padding-left: 37px;
}

.development-list li {
    position: relative;
}

.development-list li::before {
    width: 25px;
    height: 2px;
    content: "";
    position: absolute;
    background-image: url("../img/rectangle-25x2.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 12px;
    left: -37px;
}

.development-item {
    margin-bottom: 24px;
}

.logo {
    list-style: none;
    display: flex;
    padding: 0;
    margin-top: 128px;
    margin-bottom: 105px;
    position: relative;
    justify-content: space-around;
}

.logo::before {
    width: 1158px;
    height: 2px;
    content: "";
    position: absolute;
    background-image: url("../img/rectangle-16.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: -70px;
}

.logo::after {
    width: 1158px;
    height: 2px;
    content: "";
    position: absolute;
    background-image: url("../img/rectangle-16.png");
    background-repeat: repeat (3, 1 00px);
    background-position: 0 0;
    top: 112px;
}

.logo-1 {
    opacity: 0.2;
    width: 199px;
    height: 67.82px;
    position: relative;
    left: -17px;
    top: -5px;
}

.logo-1::after {
    width: 2px;
    height: 52px;
    content: "";
    position: absolute;
    background-image: url("../img/rectangle-2x52.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 247px;
    top: 0;
    z-index: 200;
}

.logo-1:hover,
.logo-1:focus {
    opacity: 1;
}

.logo-1:active {
    opacity: 0.1;
}

.logo-2 {
    opacity: 0.2;
    width: 209px;
    height: 90px;
    position: relative;
    left: -20px;
    top: -21px;
}

.logo-2::after {
    width: 2px;
    height: 52px;
    content: "";
    position: absolute;
    background-image: url("../img/rectangle-2x52.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 252px;
    top: 17px;
    z-index: 200;
}

.logo-2:hover,
.logo-2:focus {
    opacity: 1;
}

.logo-2:active {
    opacity: 0.1;
}

.logo-3 {
    opacity: 0.2;
    width: 185px;
    height: 52px;
    position: relative;
    left: -14px;
    top: -3px;
}

.logo-3::after {
    width: 2px;
    height: 52px;
    content: "";
    position: absolute;
    background-image: url("../img/rectangle-2x52.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 240px;
    top: 0;
    z-index: 200;
}

.logo-3:hover,
.logo-3:focus {
    opacity: 1;
}

.logo-3:active {
    opacity: 0.1;
}

.logo-4 {
    opacity: 0.2;
    width: 173px;
    height: 84px;
    position: relative;
    left: 7px;
    top: -16px;
}

.logo-4:hover,
.logo-4:focus {
    opacity: 1;
}

.logo-4:active {
    opacity: 0.1;
}

.values {
    font-weight: bold;
    font-size: 47px;
    line-height: 67px;
    color: var(--basic-black);
}

.description-block h4 {
    margin-top: 33px;
    margin-bottom: 29px;
    margin-left: 19px;
}

.contact h3 {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
    width: 193px;
    height: 30px;
    margin-top: 49px;
    margin-left: 50px;
}

.contact {
    background: var(--basic-white);
    width: 319px;
    height: 308px;
    height: 308px;
    padding: 1px;
}

.footer-block-12 {
    width: 230px;
    height: 72px;
    margin-left: 50px;
}

.map {
    background-color: var(--basic-red);
    min-height: 416px;
    background-repeat: no-repeat;
    padding: 54px 0;
    background-size: cover;
    box-sizing: border-box;
    background: url("../img/map1.png");
}

.footer-block-4 {
    display: flex;
}

.footer-block-3 {
    margin-right: 139px;
    width: 261px;
    height: 81px;
    padding: 0;
    margin-top: 66px;
}

.footer-block-3 ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.main-footer p {
    color: DimGrey;
    text-decoration: none;
    font-size: 16px;
    margin-top: 21px;
    margin-bottom: -23px;
    width: 360px;
    height: 77px;
}

.footer-phone {
    color: DimGrey;
    text-decoration: none;
    width: 230px;
    height: 72px;
    font-size: 16px;
    margin-top: 22px;
}

.footer-social li {
    margin-right: 9px;
}

.footer-content {
    font-size: 37px;
    line-height: 31px;
    color: var(--basic-black);
    width: 660px;
    height: 36px;
    margin-top: 75px;
    margin-bottom: -12px;
}

.discount {
    width: 373px;
    height: 22px;
    margin-bottom: 74px;
    white-space: pre;
}

.button-slides:hover,
.button-slides:focus {
    background-color: var(--hover-red);
}

.button-footer {
    width: 219px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    margin-left: 50px;
    margin-top: 37px;
}

.button-footer:hover,
.button-footer:focus {
    background-color: var(--hover-red);
}

.button-footer:active {
    background-color: var(--active-red);
    color: rgba(255, 255, 255, 0.3);
}

.social-button {
    display: flex;
    margin-right: 9px;
    background-color: var(--basic-light-grey);
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 81px;
    border-radius: 50%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.description-block sup {
    top: -0.8em;
}

.description-block sup,
.description-block sub {
    font-size: 50%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.icon-item {
    display: flex;
    list-style: none;
    width: 38px;
    height: 10px;
    margin-left: 66px;
    margin-bottom: 24px;
    padding: 0;
    margin-top: 4px;
}

.icon-item li {
    margin-right: 18px;
}

.icon-down,
.icon-up {
    width: 11px;
    height: 10px;
}

.icon-up path {
    fill: var(--basic-dark-grey);
    opacity: 0.2;
}

.icon-down:hover path,
.icon-down:focus path,
.icon-up:hover path,
.icon-up:focus path {
    fill: var(--basic-dark-grey);
    opacity: 1;
}

.icon-down path {
    fill: rgba(35, 31, 32, 1);
    opacity: 1;
}

.icon-up:active path {
    fill: rgba(35, 31, 32, 1);
    opacity: 1;
}

.social-button a {
    background-color: var(--basic-light-grey);
    list-style: none;
    text-decoration: none;
}

.social-button:hover,
.social-button:focus {
    background-color: var(--basic-red);
}

.social-button:active {
    background-color: rgba(215, 55, 59, 1);
}

.social-button:active path {
    fill: rgba(255, 255, 255, 0.3);
}

.directory-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 78px;
    margin-bottom: 108px;
    width: 729px;
    height: 55px;
    font-size: 55px;
    line-height: 39px;
    background: var(--basic-gray);
    text-transform: none;
}

.catalog-page {
    display: grid;
    grid-template-columns: 400px 760px;
    margin-top: 55px;
}

.column-left {
    padding: 0;
    margin: 0;
}

.form-filter {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: -3px;
}

.grid-item {
    font-size: 19px;
    line-height: 20px;
    color: rgba(40, 49, 54, 1);
    list-style: none;
    margin-bottom: 50px;
}

.grid-item li {
    display: flex;
    margin-bottom: 17px;
}

.grid-item label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.radio-input+label::before {
    content: "";
    position: absolute;
    left: -36px;
    top: 0;
    width: 17px;
    height: 17px;
    border: 4px solid var(--basik-radioblack);
    opacity: 0.3;
    border-radius: 50%;
}

.radio-input+label:hover::before,
.radio-input:checked+label:hover::after,
.radio-input+label:focus::before,
.radio-input:checked+label:focus::after {
    opacity: 1;
}

.radio-input+label:disabled::before,
.radio-input:checked+label:disabled::after {
    opacity: 0.3;
}

.radio-input:checked+label::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -28px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: green;
    background-image: url("../img/oval.svg");
    opacity: 0.3;
}

.grid-item,
.features-item {
    padding: 0px;
}

.sort-block {
    display: flex;
    padding: 0px;
    height: 30px;
    width: 115px;
    margin-bottom: 72px;
}

.sort-block h2 {
    height: 30px;
    width: 134px;
    margin-right: 266px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    margin-top: 0px;
}

.site-block {
    display: flex;
    flex-wrap: wrap;
}

.site-group {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rectangle-2 {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 360px;
    min-height: 231px;
    margin: 0 auto;
    background: var(--basic-white);
    align-items: center;
    text-align: center;
}

.site-group-item {
    margin-bottom: 72px;
    padding: 0px;
    width: 358px;
    height: 578px;
    position: relative;
    order: 1;
}

.site-group-item::before {
    content: "";
    position: absolute;
    top: -40px;
    left: -1px;
    width: 360px;
    height: 40px;
    background-image: url("../img/browser.svg");
    opacity: 0.12;
}

.site-group-item:hover::before,
.site-group-item:focus::before {
    background-image: url("../img/browser.svg");
    opacity: 1;
}

.link-site-name {
    text-decoration: none;
    color: var(--basic-black);
}

.pink-app {
    order: -2;
}

.sedona {
    order: -2;
}

.mishka {
    order: 0;
}

.barbershop {
    order: -1;
}

.sort {
    display: flex;
    padding: 0px;
    margin-bottom: 20px;
    list-style: none;
    text-transform: uppercase;
    position: relative;
    margin-top: 7px;
    margin-left: 3px;
}

.features-item {
    list-style: none;
    margin-bottom: 66px;
    position: relative;
    margin-top: 20px;
}

.features-item li {
    margin-bottom: 20px;
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox+label::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0;
    width: 25px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    opacity: 0.4;
    background-repeat: no-repeat;
}

.filter-input-checkbox:checked+label::after {
    content: "";
    position: absolute;
    left: 0px;
    width: 25px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
    opacity: 0.4;
}

.filter-input-checkbox+label:hover:before,
.filter-input-checkbox:checked+label:hover:after {
    opacity: 1;
}

.filter-input-checkbox:checked+label:before {
    display: none;
}

.button-sites-cost {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 80px;
}

.button-sites-cost:hover,
.button-sites-cost:focus {
    background-color: var(--hover-red);
}

.button-sites-cost:active {
    background-color: var(--active-red);
}

.sort-item {
    color: rgba(0, 0, 0, 1);
    opacity: 0.3;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    margin-right: 25px;
    display: flex;
    width: 60px;
    height: 18px;
    white-space: pre;
}

.sort-item:hover,
.sort-item:focus {
    opacity: 0.6;
}

.sort-item:active {
    opacity: 1;
}

.sort-item-active {
    color: rgba(0, 0, 0, 1);
    opacity: 1;
}

.grey-button {
    width: 260px;
    height: 50px;
    background: var(--basic-gray);
    color: var(--basic-black);
    border-style: none;
    text-transform: uppercase;
    outline: none;
    margin-top: -15px;
}

.grey-button:hover,
.grey-button:focus {
    background: var(--hover-gray);
    border-style: none;
}

.grey-button:active {
    background: var(--active-gray);
    color: rgba(0, 0, 0, 0.3);
    border-style: none;
}

.site-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 27px;
    margin-bottom: -3px;
}

.site-name:hover,
.site-name:focus {
    color: var(--basic-red);
}

.site-name:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.site-info {
    color: rgba(102, 102, 102, 1);
    font-size: 16px;
    line-height: 18px;
    width: 255px;
    min-height: 37px;
    margin-left: 51px;
    margin-bottom: 32px;
}

.filter-items {
    color: var(--basic-background);
    font-size: 16px;
    line-height: 20px;
    width: 91px;
    height: 20px;
    margin-left: 36px;
    margin-top: 2px;
}

.filter-items:hover,
.filter-items:focus {
    color: var(--basic-background);
}

.filter-items:active {
    color: var(--basic-background);
    opacity: 0.3;
}

.site-group-item div {
    opacity: 0;
}

.site-group-item:hover div {
    opacity: 1;
}

.radio-input {
    cursor: pointer;
    background: rgba(77, 77, 77, 1);
    opacity: 0.4;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.list-pages {
    list-style: none;
    display: flex;
    padding: 0px;
    margin-right: 11px;
    margin-top: -32px;
    margin-bottom: 60px;
}

.page-number {
    width: 50px;
    height: 50px;
    background: var(--basic-gray);
    border-radius: 3px;
    color: var(--basic-black);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 11px;
}

.page-active {
    background: rgba(0, 0, 0, 0.0001);
    border: 3px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
}

.next {
    width: 260px;
    height: 50px;
    text-transform: uppercase;
}

.page-number:hover,
.page-number:focus,
.next:hover,
.next:focus {
    background: var(--hover-gray);
}

.page-number:active,
.next:active {
    background: var(--active-gray);
    color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border-radius: 3px;
}

.filter-item {
    margin: 0;
    padding: 0;
    border: none;
}

.range-filter {
    width: 260px;
    margin-top: 48px;
    margin-bottom: 36px;
}

.filter-item legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
}

.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 14px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 64%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
}

.price-controls label {
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
}

.price-controls input {
    width: 60px;
    margin-left: 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 3px;
    background: #f1f1f1;
    font-family: inherit;
    font-size: inherit;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: var(--basic-white);
    box-shadow: 0 20px 40px 0 var(--background);
    width: 960px;
    height: 590px;
    padding: 63px 99px 84px 100px;
    box-sizing: border-box;
    z-index: 100;
    display: none;
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(30px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.modal-error {
    animation: shake 0.6s;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

.modal-contacts-name {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 34px;
}

.modal-login {
    padding: 0;
    margin: 0;
    width: 360px;
}

.modal-login-m {
    margin: 0 0 41px;
    padding: 0;
}

.modal-label {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-black);
    font-family: "RobotoB", "Arial", "sans-serif";
    display: block;
    margin-bottom: 10px;
}

.modal-input {
    font-family: "Roboto", "Arial", "sans-serif";
    width: 339px;
    height: 46px;
    border: 1px solid var(--border-input);
    border-radius: 3px;
    color: rgba(68, 68, 68, 0.5);
    font-size: 16px;
    line-height: 18px;
    padding-left: 17px;
}

.modal-input::placeholder {
    color: rgba(68, 68, 68, 0.5);
}

.modal-input:hover {
    border-color: var(--border-input-hover);
}

.modal-input:focus {
    border-color: var(--basic-black);
    color: var(--socials-discount-text);
}

.modal-input:focus::placeholder {
    color: var(--socials-discount-text);
}

.modal-input:invalid {
    border-color: var(--hover-red);
    color: var(--hover-red);
}

.modal-input.error {
    border-color: var(--hover-red);
    color: var(--hover-red);
}

.modal-input:invalid::placeholder {
    color: var(--hover-red);
}

.modal-input.error::placeholder {
    color: var(--hover-red);
}

.modal-letter {
    margin: 0 0 37px;
    padding: 0;
    font-family: "RobotoB", "Arial", "sans-serif";
    font-size: 45px;
    line-height: 53px;
}

.modal-message {
    width: 760px;
    height: 118px;
    border: 2px solid var(--border-input);
    box-sizing: border-box;
    border-radius: 3px;
    padding: 14px 15px;
    font-size: 16px;
    line-height: 18px;
    font-family: "Roboto", "Arial", "sans-serif";
    color: rgba(68, 68, 68, 0.5);
    resize: none;
}

.modal-message:hover {
    border-color: var(--border-input-hover);
}

.modal-message:focus {
    border-color: var(--basic-black);
    color: var(--socials-discount-text);
}

.modal-message:focus::placeholder {
    color: var(--socials-discount-text);
}

.modal-message:invalid {
    border-color: var(--hover-red);
    color: var(--hover-red);
}

.modal-message.error {
    border-color: var(--hover-red);
    color: var(--hover-red);
}

.modal-message:invalid::placeholder {
    color: var(--hover-red);
}

.modal-message.error::placeholder {
    color: var(--hover-red);
}

.modal-close {
    width: 21px;
    height: 21px;
    display: block;
    border: none;
    background: url("../img/close-cross.svg") no-repeat 0 0;
    position: absolute;
    top: 60px;
    right: 89px;
    top: 76px;
    cursor: pointer;
    opacity: 0.3;
}

.modal-close:hover,
.modal-close:focus {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.1;
}

.modal-submit {
    min-width: 260px;
    height: 50px;
    cursor: pointer;
    margin-top: 140px;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
